---
import '../styles/about.css';
---

<div class="about" id="about">
    <div class="about-inner max-width">
        <div class="about-left">
            <h3>Hi, I am</span>
                <h1>Johann Salivio.</h1>
                <p>
                    I'm a Computer Science student with a passion for software and web development.
                    I'm driven by my passion for learning and honing my skills, while finding joy in the process.
                    My goal is to create technology that leaves a positive impact, by enhancing user lives.
                    This portfolio showcases my journey of learning, and reflects my passion.
                </p>
                <div class="about-ctas">
                    <a href="#skills">Go to skills section</a>
                    <a href="/projects">Go to projects section</a>
                </div>
        </div>
        <div class="about-right">
            <a href="https://github.com/Makoch1/portfolio" target="_blank">Visit the portfolio's github repo</a>
        </div>
    </div>
</div>
