---
import '../styles/ribbon.css';

const { text, bgColor, textColor } = Astro.props;
const texts = Array(15).fill(text);
---

<div class="ribbon" style={`background: ${bgColor}`}>
    {texts.map(t => <span class="ribbon-text" style={`color: ${textColor}`} aria-hidden="true">{t}</span>)}
</div>
